<h2>Edit profile</h2>
<div>
    <form enctype="multipart/form-data"
          action="{% url "edit_profile" %}"
          method="post">
        {% csrf_token %}
        {% if form.errors or image_formset.errors %}
            <div>
                <div>Ошибки:</div>
                <div>
                    {{ form.errors }}
                    {{ image_formset.errors }}
                </div>
            </div>
        {% endif %}
        {{ form }}
        {{ image_formset }}
        {% for image_form in image_formset %}
            {% if image_form.instance.image %}
                <img style="width: 400px;
                            height: 300px"
                     src="{{ image_form.instance.image.url }}"
                     alt="No image">
            {% endif %}
        {% endfor %}
        <button type="submit">Подтвердить</button>
    </form>
</div>
