<div id="carouselExample" class="carousel slide">
    <div class="carousel-inner">
        {% for image in product.productimage_set.all %}
            <div {% if forloop.first %}class="carousel-item active"{% else %}class="carousel-item"{% endif %}>
                <img src="{{ image.image.url }}" class="d-block w-100" style="aspect-ratio: 16 / 9; object-fit: cover;"
                     alt="cartinka">
            </div>
        {% endfor %}
    </div>
    <button class="carousel-control-prev"
            type="button"
            data-bs-target="#carouselExample"
            data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next"
            type="button"
            data-bs-target="#carouselExample"
            data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
