{% load static %}
<link rel="stylesheet" href="{% static 'product/style.css' %}">
<h1>Product index page</h1>
<div>
    <a href="{% url "account_profile" %}">Profile</a>
    <a href="http://localhost:5173/chats_list">Chat</a>
</div>
<div>
    <a href="{% url "product:basket" %}">Basket: {{ basket.count_products }}</a>
</div>
<form method="get">
    {{ filter.form.as_p }}
    <input type="submit" />
</form>
<ul>
    {% for product in filter.qs %}
        <li>
            <div>
                <a href="{% url "product:about_product" product.id %}">{{ product.title }}</a>
            </div>
            {% if product.discount %}
                <div style="text-decoration: line-through">{{ product.price }}</div>
                <div>{{ product.count_price }}</div>
            {% else %}
                <div>{{ product.price }}</div>
            {% endif %}
            <div>
                <a href="{% url "product:add_product_to_basket" product.id %}?next={{ request.get_full_path|urlencode }}">+</a>
            </div>
        </li>
    {% endfor %}
</ul>

