{% load static %}
<link rel="stylesheet" href="{% static 'product/style.css' %}">

<h1>Product index page</h1>

<div>
    <a href="{% url "account_profile" %}">Profile</a>
</div>

<div>
    <h3>Categories</h3>
    <ul>
        <li>
            <a href="{% url "product:index" %}">All</a>
        </li>
        {% for category in categorylist %}
        <li>
            <a href="{% url "product:index" %}?product_category={{ category.id }}">{{ category.category_name }}</a>
        </li>
        {% endfor %}
    </ul>
</div>

<div><a href="{% url "product:basket" %}">Basket: {{ basket.count_products }}</a></div>

<ul>
    {% for product in products %}
    <li>
        <div> <a href="{% url "product:about_product" product.id %}">{{ product.title }}</a> </div>
        {% if product.discount %}
            <div style="text-decoration: line-through">{{ product.price }}</div>
            <div>{{ product.count_price }}</div>
        {% else %}
            <div>{{ product.price }}</div>
        {% endif %}
        <div>
            <a href="{% url "product:add_product_to_basket" product.id %}?next={{ request.get_full_path|urlencode }}">+</a>
        </div>
    </li>
    {% endfor %}
</ul>
